@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/bg.jpg) fixed center/cover;
    min-height : 100vh ;
    
}
ul {
    list-style: none;
}
header {
    min-height: 95vh;
    h1{
        padding-top: 300px;
        padding-bottom: 60px;
        margin: 0 auto;
        font-size: 6rem;
        font-family: 'Inter' , serif;
        color: rgb(235, 228, 228);
        width: 45%;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    p {
        text-align: center;
        color: rgb(235, 228, 228);
        width: 60%;
        margin: 0 auto;
        padding-bottom: 80px;
        font-family: Merriweather , serif;
        font-style:italic ;
    }
    .header-fleche{
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(235, 228, 228);
        i{
            border: 2px solid rgb(235, 228, 228);
            padding: 18px 20px;
            border-radius: 100px;
            box-shadow: 0 0 2px 0px;
        }
    }
}
nav {
    height: 5vh;
    display: grid;
    grid-template-columns: 70% 30%;
    background: rgba(235, 228, 228, 0.164);
    width: 75%;
    margin: 0 auto;
   .page{
    &:hover li:not(:hover) {
        background: none;
        color: rgb(235, 228, 228);
    }
   } 
.page ul {
    display: flex;
    margin: 0;
   padding-left: 0;
   height: 50px;
   align-items: center;
    :hover {
        background: rgb(235, 228, 228);
        color: rgb(24, 23, 23);
    }
   
li{
    padding: 20px;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 2px;
    font-weight: bold;
    color: rgb(235, 228, 228);
    font-family: 'Inter' , serif;
    cursor: pointer;

    &:first-child {
        background: rgb(235, 228, 228);
        color: black;
    }
}
}
.reseau{
    width: 90%;
}
.reseau ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 50px;
    align-items: center;
    li{
color:rgb(235, 228, 228) ;
cursor: pointer;
    :hover{
        transform: scale(1.30);
    }
}
    }    
}

main {
    background-color: rgb(243, 243, 243);
    width: 75%;
    margin: 0 auto;
    .date{
        font-family: 'Merriweather' , serif;
        text-align: center;
        padding: 60px;
        ::after {
          content: ""; 
          width: 100%; 
          width: 33%;
          border: 1px solid rgb(216, 215, 215);
            vertical-align: middle;
            display:inline-block ;
            translate: (25%);
           
        }
        ::before {
            content: "";
            width: 33%;
            border: 1px solid rgb(216, 215, 215);
            vertical-align: middle;
            display:inline-block ;
            translate : (-25%);
            
        }
    }
   
    .part1{
       
        
        text-align: center;
        
        h2{
            width: 50%;
            margin: 0 auto;
    font-size: 2.5rem;
    font-family: 'Inter' , serif;
    padding-bottom: 30px; 
    text-transform: uppercase;
    letter-spacing: 3px;
    
    }
    p {
        font-family: 'Merriweather' , serif;
        font-size: 0.65rem;
        line-height: 30px;
        font-style: italic;
        width: 50%;
        margin: 0 auto;
    }
    .img1{
        background: url(../images/pic01.jpg) center/cover;
        width: 80%;
        height: 500px;
        margin: 40px auto;
       
    }
    }
 button {
    padding: 10px 30px;
    text-transform: uppercase;
    font-family: 'Inter' , serif;
    font-size: 0.6rem;
    letter-spacing: 1px;
    border: 1px solid black;
    box-shadow: 0 0 1px 0px;
    margin-bottom: 100px;
    cursor: pointer;
 }   
.part2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    .part2-left{
    text-align: center;
    border-top: 1px solid rgb(216, 215, 215);
    border-right: 1px solid rgb(216, 215, 215);
    
    .date1 p{
        
        margin: 0 auto;
        width: 40%;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 20px;
        
    }
    p{
        
        font-family: 'Merriweather' , serif;
        font-size: 0.7rem;
        line-height: 30px;
        width: 80%;
        margin: 0 auto;
        text-align: left;
        padding-bottom: 30px;
        padding-top: 40px;
    }
    h3{
        font-family: 'Inter' , serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        width: 40%;
        margin: 0 auto;
        padding-bottom: 30px;
    }
    .part2-left-photo{
        background: url(../images/pic02.jpg) center/cover;
        width: 80%;
        height: 250px;
        margin: 0 auto;
    }
    }
.part2-right{
    text-align: center;
    border-top: 1px solid rgb(216, 215, 215);
    .date2 p{
        text-align: center;
       
    }
    p{
        font-family: 'Merriweather' , serif;
        font-size: 0.7rem;
        line-height: 30px;
        width: 80%;
        margin: 0 auto;
        text-align: left;
        padding-bottom: 30px;
        padding-top: 40px;
    }
    h3{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-family: 'Inter' , serif;
        width: 50%;
        margin: 0 auto;
        padding-bottom: 30px;
    }
    .part2-right-photo{
        background: url(../images/pic03.jpg) center/cover;
        width: 80%;
        height: 250px;
        margin: 0 auto;

    }

}
}
}
footer{
    margin-top: 30px;
    margin-bottom: 50px;

    .footer {
    background: rgb(243, 243, 243);
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 75%;
    .footer-left {
        width: 85%;
        margin: 0 auto;
        .name{
            display: flex;
            flex-direction: column;
            padding-top: 40px;
        }
        .email {
            display: flex;
            flex-direction: column;
        }
        .area{
            display: flex;
            flex-direction: column;
        }
        input{
            height: 30px;
        }
        input , textarea{
            background: none;
            border: 1px solid rgb(216, 215, 215);
            resize: none;
            
        }
        label{
            font-family: 'Inter' , serif;
            text-transform: uppercase;
            font-size: 0.7rem;
            color: rgb(122, 122, 122);
            margin: 10px 0;
            letter-spacing: 1px;
        }
        button {
            padding: 10px 30px;
    text-transform: uppercase;
    font-family: 'Inter' , serif;
    font-size: 0.6rem;
    letter-spacing: 1px;
    border: 1px solid rgb(122, 122, 122);
    box-shadow: 0 0 1px 0px;
    margin-bottom: 50px;
    cursor: pointer;
    color: rgb(122, 122, 122);
    margin-top: 30px;   
                }
        }
    
    .footer-right{
        border-left: 1px solid rgb(216, 215, 215);
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    
   
        .adress{
           display: flex;
          align-items: center;
          border-bottom: 1px solid rgb(216, 215, 215);

        h6{
         font-family: 'Inter' , serif;
         text-transform: uppercase;
         font-size: 0.7rem;
         color: rgb(122, 122, 122);
         margin: 0 40px;
        }
        p{
            width: 50%;
            margin-left: 20px;
            color: rgb(122, 122, 122);
            font-family: 'Merriweather' , serif;
            font-size: 0.7rem;
     }
      
    
    }
    .phone{
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(216, 215, 215);
        h6{
            font-family: 'Inter' , serif;
            text-transform: uppercase;
            font-size: 0.7rem;
            color: rgb(122, 122, 122);
            margin: 0 40px;
        }
        p{
            width: 50%;
            margin-left: 20px;
            color: rgb(122, 122, 122);
            font-family: 'Merriweather' , serif;
            font-size: 0.7rem;
        }
    }
    .mail {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(216, 215, 215);
        h6{
            font-family: 'Inter' , serif;
            text-transform: uppercase;
            font-size: 0.7rem;
            color: rgb(122, 122, 122);
            margin: 0 40px;
        }
        p{
            width: 50%;
            margin-left: 20px;
            color: rgb(122, 122, 122);
            font-family: 'Merriweather' , serif;
            font-size: 0.7rem;
        }
    }
    .social{
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(216, 215, 215);
      
       
        h6{
            font-family: 'Inter' , serif;
            text-transform: uppercase;
            font-size: 0.7rem;
            color: rgb(122, 122, 122);
            margin: 0 40px;
           
        }
        ul {
            display: flex;
            justify-content: space-around;
            width: 40%;
            li{
                font-size: 0.8rem;
                border: 1px solid rgb(216, 215, 215);
                padding: 8px 10px;
                border-radius: 50px;
                cursor: pointer;
                    :hover{
                        font-size: 1.2rem;
                    }         
             }
        }
    }

}
    }
}